
.container{
    background-color: rgb(51, 51, 51);
    color: aliceblue;
    height: max-content;
    padding: 1rem;
}
ul.list{
    list-style-type: none;
    background-color: rgb(51, 51, 51);
    color: aliceblue;
    display: flex;
    flex-direction: column;
}
.anch{
    background-color: rgb(51, 51, 51);
    color: aliceblue;
}