
.wrapper{
    min-height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.title{}
.tableEle{
}
.thumbnail{
    max-height: 100px;
}
.control{
    border: none;
    box-shadow: 1px 1px 1px 1px grey;
}