
.container{
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    animation-name: slide;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.pic{
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: contain;
    display: block;
    border-radius: 12px;
}
.caption{
    width: 100%;
    border-radius: 30px 30px 0 0;
    box-shadow: 1px 1px 1px rgb(177, 177, 177);
    padding: 1rem;
    position: relative;
    top: -1rem;
    z-index: 1;
    background-color: #f0f0f0;
}
.title{
    text-align: center;
    font-size: 2rem;
}
.desc{
    font-size: 1.2rem;
}
@keyframes slide {
    from{
        transform: translateX(100vw);
    }
    to{
        transform: translateX(0);
    }
}